/* FONTS */
@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
}

/* COLORS */
:root {
    --Tomato: hsl(4, 100%, 67%);
    --Dark-Slake-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--Charcoal-Grey);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
/* CARD-1 STYLING */
.card-1 {
    display: flex;
    width: 750px;
    padding: 30px;
    border-radius: 30px;
    background: var(--White);
}
.left {
    width: 60%;
    padding: 0 30px 0 20px;
}
.left .sentence {
    padding: 18px 0;
    font-size: 14px;
    color: var(--Dark-Slake-Grey);
    text-shadow: 0.5px 0px 0px rgba(0, 0, 0, 0.3);
}
.left img {
    margin: auto 0;
    width: 20px;
}

.right {
    width: 50%;
}
.right img {
    width: 100%;
}
ul {
    list-style-type: none;
}
li {
    display: flex;
}
li p {
    font-size: 14px;
    padding: 7px 10px;
    color: var(--Dark-Slake-Grey);
    text-shadow: 0.5px 0px 0px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 25px 0 0;
}
label {
    margin-bottom: 10px;
    color: var(--Dark-Slake-Grey);
    font-size: small;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
label .invalid-email {
    color: var(--Tomato);
    display: none;
}
label .invalid-email.error {
    display: block;
}
input {
    padding: 16px 20px;
    font-family: inherit;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--Grey);
}
input.error {
    border: 1px solid var(--Tomato);
    background-color: rgb(255, 98, 87, 0.2);
}
button {
    font-family: inherit;
    font-weight: 600;
    margin-top: 20px;
    padding: 16px 20px;
    border: none;
    outline: none;
    color: var(--White);
    background-color: var(--Dark-Slake-Grey);
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: linear-gradient(127deg, rgba(255, 63, 124, 1) 40%, rgba(255, 154, 34, 1) 70%);
    transition: all 1s;
}
.card-1 h1 {
    font-weight: bold;
    font-size: 50px;
    margin-top: 30px;
}
.hide {
    display: none;
}
/* CARD-2 STYLING */

.card-2 {
    background: var(--White);
    width: 400px;
    padding: 40px;
    border-radius: 30px;
}
.card-2 img {
    width: 50px;
}
.card-2 h1 {
    font-size: 45px;
    margin-top: 15px;
}
.card-2 p {
    font-size: 14px;
    padding: 15px 0;
    text-shadow: 0.5px 0px 0px rgba(0, 0, 0, 0.3);
}
.card-2 button {
    width: 100%;
}

/* FOOTER */
.attribution { 
    font-size: 12px; 
    text-align: center; 
    color: white;
    margin-top: 10px;
}
.attribution a { 
    /* color: hsl(228, 45%, 44%);  */
    color: var(--Tomato);
    text-decoration: none;
}

@media (max-width: 426px) {
    body {
        padding: 0;
        margin: 0;
    }
    .card-1 {
        width: 95%;
        padding: 0;
        flex-direction: column-reverse;
    }
    .card-1 h1 {
        font-size: 30px;
    }
    .left {
        width: 100%;
        padding: 20px;
    }
    .right {
        width: 100%;
    }
    .right img {
        content: url(./assets/images/illustration-sign-up-mobile.svg);
        border-radius: 20px;
    }
    form {
        width: 100%;
    }
    .card-2 {
        min-height: 100vh;
        border-radius: 0;
        width: 100%;
    }
    .card-2 button {
        margin-top: 90%;
    }
    .card-2 img {
        margin-top: 30px;
    }
}