/* FONTS */
@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
}

/* COLORS */
:root {
    --Tomato: hsl(4, 100%, 67%);
    --Dark-Slake-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--Charcoal-Grey);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.card-1 {
    display: flex;
    width: 800px;
    padding: 30px;
    border-radius: 30px;
    background: var(--White);
}
.left {
    width: 60%;
    /* margin-right: 30px; */
    padding: 0 30px 0 20px;
}
.left .sentence {
    padding: 18px 0;
    font-size: 15px;
    color: var(--Dark-Slake-Grey);
    text-shadow: 0.5px 0px 0px rgba(0, 0, 0, 0.3);
}
.left img {
    margin: auto 0;
    width: 20px;
}

.right {
    width: 50%;
}
.right img {
    width: 100%;
}
ul {
    list-style-type: none;
}
li {
    display: flex;
}
li p {
    font-size: 15px;
    padding: 7px 10px;
    color: var(--Dark-Slake-Grey);
    text-shadow: 0.5px 0px 0px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    width: 340px;
    margin: 25px 0;
}
label {
    margin-bottom: 10px;
    color: var(--Dark-Slake-Grey);
    font-size: small;
    font-weight: 600;
}
input {
    padding: 16px 20px;
    font-family: inherit;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--Grey);
}
button {
    font-family: inherit;
    font-weight: 600;
    margin-top: 20px;
    padding: 16px 20px;
    border: none;
    outline: none;
    color: var(--White);
    background-color: var(--Dark-Slake-Grey);
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: var(--Charcoal-Grey);
    transition: all 1s;
}
h1 {
    font-weight: bold;
    font-size: 50px;
    margin-top: 50px;
}
.hide {
    display: none;
}
/* FOOTER */
.attribution { 
    font-size: 12px; 
    text-align: center; 
    color: white;
    margin-top: 10px;
}
.attribution a { 
    /* color: hsl(228, 45%, 44%);  */
    color: var(--Tomato);
    text-decoration: none;
}